# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Build
build/
*/build/
.gradle/

# Local properties
local.properties

# Application properties
**/application.properties
**/application-*.properties
**/application-*.yml

# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Node (for React Native)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# iOS
*.ipa
*.dSYM.zip
*.dSYM
Pods/
xcuserdata/
*.xcworkspace/
!default.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3 